@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Figtree", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F4D04E;
  font-family: "Figtree", sans-serif;
}

.site {
  background-color: #F4D04E;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-module {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 384px;
  max-height: 522px;
  background-color: #fff;
  padding: 24px;
  border: 1px solid #111111;
  border-radius: 20px;
}
.preview-module::before {
  content: "";
  background-color: #111111;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 9px;
  border-radius: 20px;
  z-index: -1;
}
@media (max-width: 410px) {
  .preview-module {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}
.preview-module .content .img-wrapper {
  margin-bottom: 24px;
}
@media (max-width: 410px) {
  .preview-module .content .img-wrapper .img {
    width: 100%;
    object-fit: cover;
  }
}
.preview-module .content .terms-wrapper {
  margin-bottom: 8px;
}
.preview-module .content .terms-wrapper .term {
  display: inline-block;
  padding: 4px 12px;
  background-color: #F4D04E;
  color: #111111;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}
.preview-module .content .date-wrapper {
  margin-bottom: 8px;
}
.preview-module .content .date-wrapper .date {
  font-size: 14px;
  color: #111111;
  font-weight: 600;
}
.preview-module .content .title-wrapper {
  margin-bottom: 12px;
}
.preview-module .content .title-wrapper .headline {
  display: inline-block;
  text-decoration: none;
  color: #111111;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  transition: 0.2s all ease-in-out;
}
.preview-module .content .title-wrapper .headline:hover {
  color: #F4D04E;
}
.preview-module .content .desc-wrapper {
  margin-bottom: 24px;
}
.preview-module .content .author-wrapper .author-title {
  font-weight: 700;
  margin-left: 8px;
  font-size: 14px;
}