@import 'imports';

html {
  width: 100%;
  height: 100%;
  font-family: $font-primary;
}

body {
  width: 100%;
  height: 100%;
  background-color: $primary;
  font-family: $font-primary;
}

.site {
  background-color: #d5e1ef;
  width: 100%;
  height: 100%;
}

